* {
    box-sizing: border-box;
}

h2 {
    background-color: lightslategray;
    width: 200px; 
    height: 200px;
    padding: 50px;
    border: 5px solid rgb(77, 102, 122);
    border-style: ridge;
    margin: 50px;
}